*{
    margin: 0px;
    padding: 0px;
    font-family: Noto Sans;

}
body{
    background-size: cover;

    /* background: black; */
}
/* the header of your website */
#navbar{
    display: flex;
    align-items: center;
    margin: 0px 25px;
    justify-content: space-between;
    position: relative;
}
/* logo styling in navbar */
.logo{
    font-family: 'YouMurderer BB Regular';
    font-size: 55px;
    color: rgb(255, 3, 3);
    padding: 20px 15px;
}

/* menubar styling in navbar */

.item{
    font-weight: bold;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    padding: 3px 22px;
    list-style: none;
    font-size: 1.2rem;
}
#navbar ul li a{
    display: block;
    border-radius: 20px;
    color: red;
    text-decoration: none;
}
.mainmap{
    display: flex;
    justify-content: center;
    align-items: center;
}