body{
    background: black;
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 50s linear infinite;
    box-shadow: 779px 1331px #c50a0a, 324px 42px #c50a0a, 303px 586px #c50a0a,
    1312px 276px #c50a0a, 451px 625px #c50a0a, 521px 1931px #c50a0a, 1087px 1871px #c50a0a,
    36px 1546px #c50a0a, 132px 934px #c50a0a, 1698px 901px #c50a0a, 1418px 664px #c50a0a,
    1448px 1157px #c50a0a, 1084px 232px #c50a0a, 347px 1776px #c50a0a, 1722px 243px #c50a0a,
    1629px 835px #c50a0a, 479px 969px #c50a0a, 1231px 960px #c50a0a, 586px 384px #c50a0a,
    164px 527px #c50a0a, 8px 646px #c50a0a, 1150px 1126px #c50a0a, 665px 1357px #c50a0a,
    1556px 1982px #c50a0a, 1260px 1961px #c50a0a, 1675px 1741px #c50a0a,
    1843px 1514px #c50a0a, 718px 1628px #c50a0a, 242px 1343px #c50a0a, 1497px 1880px #c50a0a,
    1364px 230px #c50a0a, 1739px 1302px #c50a0a, 636px 959px #c50a0a, 304px 686px #c50a0a,
    614px 751px #c50a0a, 1935px 816px #c50a0a, 1428px 60px #c50a0a, 355px 335px #c50a0a,
    1594px 158px #c50a0a, 90px 60px #c50a0a, 1553px 162px #c50a0a, 1239px 1825px #c50a0a,
    1945px 587px #c50a0a, 749px 1785px #c50a0a, 1987px 1172px #c50a0a, 1301px 1237px #c50a0a,
    1039px 342px #c50a0a, 1585px 1481px #c50a0a, 995px 1048px #c50a0a, 524px 932px #c50a0a,
    214px 413px #c50a0a, 1701px 1300px #c50a0a, 1037px 1613px #c50a0a, 1871px 996px #c50a0a,
    1360px 1635px #c50a0a, 1110px 1313px #c50a0a, 412px 1783px #c50a0a, 1949px 177px #c50a0a,
    903px 1854px #c50a0a, 700px 1936px #c50a0a, 378px 125px #c50a0a, 308px 834px #c50a0a,
    1118px 962px #c50a0a, 1350px 1929px #c50a0a, 781px 1811px #c50a0a, 561px 137px #c50a0a,
    757px 1148px #c50a0a, 1670px 1979px #c50a0a, 343px 739px #c50a0a, 945px 795px #c50a0a,
    576px 1903px #c50a0a, 1078px 1436px #c50a0a, 1583px 450px #c50a0a, 1366px 474px #c50a0a,
    297px 1873px #c50a0a, 192px 162px #c50a0a, 1624px 1633px #c50a0a, 59px 453px #c50a0a,
    82px 1872px #c50a0a, 1933px 498px #c50a0a, 1966px 1974px #c50a0a, 1975px 1688px #c50a0a,
    779px 314px #c50a0a, 1858px 1543px #c50a0a, 73px 1507px #c50a0a, 1693px 975px #c50a0a,
    1683px 108px #c50a0a, 1768px 1654px #c50a0a, 654px 14px #c50a0a, 494px 171px #c50a0a,
    1689px 1895px #c50a0a, 1660px 263px #c50a0a, 1031px 903px #c50a0a, 1203px 1393px #c50a0a,
    1333px 1421px #c50a0a, 1113px 41px #c50a0a, 1206px 1645px #c50a0a, 1325px 1635px #c50a0a,
    142px 388px #c50a0a, 572px 215px #c50a0a, 1535px 296px #c50a0a, 1419px 407px #c50a0a,
    1379px 1003px #c50a0a, 329px 469px #c50a0a, 1791px 1652px #c50a0a, 935px 1802px #c50a0a,
    1330px 1820px #c50a0a, 421px 1933px #c50a0a, 828px 365px #c50a0a, 275px 316px #c50a0a,
    707px 960px #c50a0a, 1605px 1554px #c50a0a, 625px 58px #c50a0a, 717px 1697px #c50a0a,
    1669px 246px #c50a0a, 1925px 322px #c50a0a, 1154px 1803px #c50a0a, 1929px 295px #c50a0a,
    1248px 240px #c50a0a, 1045px 1755px #c50a0a, 166px 942px #c50a0a, 1888px 1773px #c50a0a,
    678px 1963px #c50a0a, 1370px 569px #c50a0a, 1974px 1400px #c50a0a, 1786px 460px #c50a0a,
    51px 307px #c50a0a, 784px 1400px #c50a0a, 730px 1258px #c50a0a, 1712px 393px #c50a0a,
    416px 170px #c50a0a, 1797px 1932px #c50a0a, 572px 219px #c50a0a, 1557px 1856px #c50a0a,
    218px 8px #c50a0a, 348px 1334px #c50a0a, 469px 413px #c50a0a, 385px 1738px #c50a0a,
    1357px 1818px #c50a0a, 240px 942px #c50a0a, 248px 1847px #c50a0a, 1535px 806px #c50a0a,
    236px 1514px #c50a0a, 1429px 1556px #c50a0a, 73px 1633px #c50a0a, 1398px 1121px #c50a0a,
    671px 1301px #c50a0a, 1404px 1663px #c50a0a, 740px 1018px #c50a0a, 1600px 377px #c50a0a,
    785px 514px #c50a0a, 112px 1084px #c50a0a, 1915px 1887px #c50a0a, 1463px 1848px #c50a0a,
    687px 1115px #c50a0a, 1268px 1768px #c50a0a, 1729px 1425px #c50a0a,
    1284px 1022px #c50a0a, 801px 974px #c50a0a, 1975px 1317px #c50a0a, 1354px 834px #c50a0a,
    1446px 1484px #c50a0a, 1283px 1786px #c50a0a, 11px 523px #c50a0a, 1842px 236px #c50a0a,
    1355px 654px #c50a0a, 429px 7px #c50a0a, 1033px 1128px #c50a0a, 157px 297px #c50a0a,
    545px 635px #c50a0a, 52px 1080px #c50a0a, 827px 1520px #c50a0a, 1121px 490px #c50a0a,
    9px 309px #c50a0a, 1744px 1586px #c50a0a, 1014px 417px #c50a0a, 1534px 524px #c50a0a,
    958px 552px #c50a0a, 1403px 1496px #c50a0a, 387px 703px #c50a0a, 1522px 548px #c50a0a,
    1355px 282px #c50a0a, 1532px 601px #c50a0a, 1838px 790px #c50a0a, 290px 259px #c50a0a,
    295px 598px #c50a0a, 1601px 539px #c50a0a, 1561px 1272px #c50a0a, 34px 1922px #c50a0a,
    1024px 543px #c50a0a, 467px 369px #c50a0a, 722px 333px #c50a0a, 1976px 1255px #c50a0a,
    766px 983px #c50a0a, 1582px 1285px #c50a0a, 12px 512px #c50a0a, 617px 1410px #c50a0a,
    682px 577px #c50a0a, 1334px 1438px #c50a0a, 439px 327px #c50a0a, 1617px 1661px #c50a0a,
    673px 129px #c50a0a, 794px 941px #c50a0a, 1386px 1902px #c50a0a, 37px 1353px #c50a0a,
    1467px 1353px #c50a0a, 416px 18px #c50a0a, 187px 344px #c50a0a, 200px 1898px #c50a0a,
    1491px 1619px #c50a0a, 811px 347px #c50a0a, 924px 1827px #c50a0a, 945px 217px #c50a0a,
    1735px 1228px #c50a0a, 379px 1890px #c50a0a, 79px 761px #c50a0a, 825px 1837px #c50a0a,
    1980px 1558px #c50a0a, 1308px 1573px #c50a0a, 1488px 1726px #c50a0a,
    382px 1208px #c50a0a, 522px 595px #c50a0a, 1277px 1898px #c50a0a, 354px 552px #c50a0a,
    161px 1784px #c50a0a, 614px 251px #c50a0a, 526px 1576px #c50a0a, 17px 212px #c50a0a,
    179px 996px #c50a0a, 467px 1208px #c50a0a, 1944px 1838px #c50a0a, 1140px 1093px #c50a0a,
    858px 1007px #c50a0a, 200px 1064px #c50a0a, 423px 1964px #c50a0a, 1945px 439px #c50a0a,
    1377px 689px #c50a0a, 1120px 1437px #c50a0a, 1876px 668px #c50a0a, 907px 1324px #c50a0a,
    343px 1976px #c50a0a, 1816px 1501px #c50a0a, 1849px 177px #c50a0a, 647px 91px #c50a0a,
    1984px 1012px #c50a0a, 1336px 1300px #c50a0a, 128px 648px #c50a0a, 305px 1060px #c50a0a,
    1324px 826px #c50a0a, 1263px 1314px #c50a0a, 1801px 629px #c50a0a, 1614px 1555px #c50a0a,
    1634px 90px #c50a0a, 1603px 452px #c50a0a, 891px 1984px #c50a0a, 1556px 1906px #c50a0a,
    121px 68px #c50a0a, 1676px 1714px #c50a0a, 516px 936px #c50a0a, 1947px 1492px #c50a0a,
    1455px 1519px #c50a0a, 45px 602px #c50a0a, 205px 1039px #c50a0a, 793px 172px #c50a0a,
    1562px 1739px #c50a0a, 1056px 110px #c50a0a, 1512px 379px #c50a0a, 1795px 1621px #c50a0a,
    1848px 607px #c50a0a, 262px 1719px #c50a0a, 477px 991px #c50a0a, 483px 883px #c50a0a,
    1239px 1197px #c50a0a, 1496px 647px #c50a0a, 1649px 25px #c50a0a, 1491px 1946px #c50a0a,
    119px 996px #c50a0a, 179px 1472px #c50a0a, 1341px 808px #c50a0a, 1565px 1700px #c50a0a,
    407px 1544px #c50a0a, 1754px 357px #c50a0a, 1288px 981px #c50a0a, 902px 1997px #c50a0a,
    1755px 1668px #c50a0a, 186px 877px #c50a0a, 1202px 1882px #c50a0a, 461px 1213px #c50a0a,
    1400px 748px #c50a0a, 1969px 1899px #c50a0a, 809px 522px #c50a0a, 514px 1219px #c50a0a,
    374px 275px #c50a0a, 938px 1973px #c50a0a, 357px 552px #c50a0a, 144px 1722px #c50a0a,
    1572px 912px #c50a0a, 402px 1858px #c50a0a, 1544px 1195px #c50a0a, 667px 1257px #c50a0a,
    727px 1496px #c50a0a, 993px 232px #c50a0a, 1772px 313px #c50a0a, 1040px 1590px #c50a0a,
    1204px 1973px #c50a0a, 1268px 79px #c50a0a, 1555px 1048px #c50a0a, 986px 1707px #c50a0a,
    978px 1710px #c50a0a, 713px 360px #c50a0a, 407px 863px #c50a0a, 461px 736px #c50a0a,
    284px 1608px #c50a0a, 103px 430px #c50a0a, 1283px 1319px #c50a0a, 977px 1186px #c50a0a,
    1966px 1516px #c50a0a, 1287px 1129px #c50a0a, 70px 1098px #c50a0a, 1189px 889px #c50a0a,
    1126px 1734px #c50a0a, 309px 1292px #c50a0a, 879px 764px #c50a0a, 65px 473px #c50a0a,
    1003px 1959px #c50a0a, 658px 791px #c50a0a, 402px 1576px #c50a0a, 35px 622px #c50a0a,
    529px 1589px #c50a0a, 164px 666px #c50a0a, 1876px 1290px #c50a0a, 1541px 526px #c50a0a,
    270px 1297px #c50a0a, 440px 865px #c50a0a, 1500px 802px #c50a0a, 182px 1754px #c50a0a,
    1264px 892px #c50a0a, 272px 1249px #c50a0a, 1289px 1535px #c50a0a, 190px 1646px #c50a0a,
    955px 242px #c50a0a, 1456px 1597px #c50a0a, 1727px 1983px #c50a0a, 635px 801px #c50a0a,
    226px 455px #c50a0a, 1396px 1710px #c50a0a, 849px 1863px #c50a0a, 237px 1264px #c50a0a,
    839px 140px #c50a0a, 1122px 735px #c50a0a, 1280px 15px #c50a0a, 1318px 242px #c50a0a,
    1819px 1148px #c50a0a, 333px 1392px #c50a0a, 1949px 553px #c50a0a, 1878px 1332px #c50a0a,
    467px 548px #c50a0a, 1812px 1082px #c50a0a, 1067px 193px #c50a0a, 243px 156px #c50a0a,
    483px 1616px #c50a0a, 1714px 933px #c50a0a, 759px 1800px #c50a0a, 1822px 995px #c50a0a,
    1877px 572px #c50a0a, 581px 1084px #c50a0a, 107px 732px #c50a0a, 642px 1837px #c50a0a,
    166px 1493px #c50a0a, 1555px 198px #c50a0a, 819px 307px #c50a0a, 947px 345px #c50a0a,
    827px 224px #c50a0a, 927px 1394px #c50a0a, 540px 467px #c50a0a, 1093px 405px #c50a0a,
    1140px 927px #c50a0a, 130px 529px #c50a0a, 33px 1980px #c50a0a, 1147px 1663px #c50a0a,
    1616px 1436px #c50a0a, 528px 710px #c50a0a, 798px 1100px #c50a0a, 505px 1480px #c50a0a,
    899px 641px #c50a0a, 1909px 1949px #c50a0a, 1311px 964px #c50a0a, 979px 1301px #c50a0a,
    1393px 969px #c50a0a, 1793px 1886px #c50a0a, 292px 357px #c50a0a, 1196px 1718px #c50a0a,
    1290px 1994px #c50a0a, 537px 1973px #c50a0a, 1181px 1674px #c50a0a,
    1740px 1566px #c50a0a, 1307px 265px #c50a0a, 922px 522px #c50a0a, 1892px 472px #c50a0a,
    384px 1746px #c50a0a, 392px 1098px #c50a0a, 647px 548px #c50a0a, 390px 1498px #c50a0a,
    1246px 138px #c50a0a, 730px 876px #c50a0a, 192px 1472px #c50a0a, 1790px 1789px #c50a0a,
    928px 311px #c50a0a, 1253px 1647px #c50a0a, 747px 1921px #c50a0a, 1561px 1025px #c50a0a,
    1533px 1292px #c50a0a, 1985px 195px #c50a0a, 728px 729px #c50a0a, 1712px 1936px #c50a0a,
    512px 1717px #c50a0a, 1528px 483px #c50a0a, 313px 1642px #c50a0a, 281px 1849px #c50a0a,
    1212px 799px #c50a0a, 435px 1191px #c50a0a, 1422px 611px #c50a0a, 1718px 1964px #c50a0a,
    411px 944px #c50a0a, 210px 636px #c50a0a, 1502px 1295px #c50a0a, 1434px 349px #c50a0a,
    769px 60px #c50a0a, 747px 1053px #c50a0a, 789px 504px #c50a0a, 1436px 1264px #c50a0a,
    1893px 1225px #c50a0a, 1394px 1788px #c50a0a, 1108px 1317px #c50a0a,
    1673px 1395px #c50a0a, 854px 1010px #c50a0a, 1705px 80px #c50a0a, 1858px 148px #c50a0a,
    1729px 344px #c50a0a, 1388px 664px #c50a0a, 895px 406px #c50a0a, 1479px 157px #c50a0a,
    1441px 1157px #c50a0a, 552px 1900px #c50a0a, 516px 364px #c50a0a, 1647px 189px #c50a0a,
    1427px 1071px #c50a0a, 785px 729px #c50a0a, 1080px 1710px #c50a0a, 504px 204px #c50a0a,
    1177px 1622px #c50a0a, 657px 34px #c50a0a, 1296px 1099px #c50a0a, 248px 180px #c50a0a,
    1212px 1568px #c50a0a, 667px 1562px #c50a0a, 695px 841px #c50a0a, 1608px 1247px #c50a0a,
    751px 882px #c50a0a, 87px 167px #c50a0a, 607px 1368px #c50a0a, 1363px 1203px #c50a0a,
    1836px 317px #c50a0a, 1668px 1703px #c50a0a, 830px 1154px #c50a0a, 1721px 1398px #c50a0a,
    1601px 1280px #c50a0a, 976px 874px #c50a0a, 1743px 254px #c50a0a, 1020px 1815px #c50a0a,
    1670px 1766px #c50a0a, 1890px 735px #c50a0a, 1379px 136px #c50a0a, 1864px 695px #c50a0a,
    206px 965px #c50a0a, 1404px 1932px #c50a0a, 1923px 1360px #c50a0a, 247px 682px #c50a0a,
    519px 1708px #c50a0a, 645px 750px #c50a0a, 1164px 1204px #c50a0a, 834px 323px #c50a0a,
    172px 1350px #c50a0a, 213px 972px #c50a0a, 1837px 190px #c50a0a, 285px 1806px #c50a0a,
    1047px 1299px #c50a0a, 1548px 825px #c50a0a, 1730px 324px #c50a0a, 1346px 1909px #c50a0a,
    772px 270px #c50a0a, 345px 1190px #c50a0a, 478px 1433px #c50a0a, 1479px 25px #c50a0a,
    1994px 1830px #c50a0a, 1744px 732px #c50a0a, 20px 1635px #c50a0a, 690px 1795px #c50a0a,
    1594px 569px #c50a0a, 579px 245px #c50a0a, 1398px 733px #c50a0a, 408px 1352px #c50a0a,
    1774px 120px #c50a0a, 1152px 1370px #c50a0a, 1698px 1810px #c50a0a, 710px 1450px #c50a0a,
    665px 286px #c50a0a, 493px 1720px #c50a0a, 786px 5px #c50a0a, 637px 1140px #c50a0a,
    764px 324px #c50a0a, 927px 310px #c50a0a, 938px 1424px #c50a0a, 1884px 744px #c50a0a,
    913px 462px #c50a0a, 1831px 1936px #c50a0a, 1527px 249px #c50a0a, 36px 1381px #c50a0a,
    1597px 581px #c50a0a, 1530px 355px #c50a0a, 949px 459px #c50a0a, 799px 828px #c50a0a,
    242px 1471px #c50a0a, 654px 797px #c50a0a, 796px 594px #c50a0a, 1365px 678px #c50a0a,
    752px 23px #c50a0a, 1630px 541px #c50a0a, 982px 72px #c50a0a, 1733px 1831px #c50a0a,
    21px 412px #c50a0a, 775px 998px #c50a0a, 335px 1945px #c50a0a, 264px 583px #c50a0a,
    158px 1311px #c50a0a, 528px 164px #c50a0a, 1978px 574px #c50a0a, 717px 1203px #c50a0a,
    734px 1591px #c50a0a, 1555px 820px #c50a0a, 16px 1943px #c50a0a, 1625px 1177px #c50a0a,
    1236px 690px #c50a0a, 1585px 1590px #c50a0a, 1737px 1728px #c50a0a, 721px 698px #c50a0a,
    1804px 1186px #c50a0a, 166px 980px #c50a0a, 1850px 230px #c50a0a, 330px 1712px #c50a0a,
    95px 797px #c50a0a, 1948px 1078px #c50a0a, 469px 939px #c50a0a, 1269px 1899px #c50a0a,
    955px 1220px #c50a0a, 1137px 1075px #c50a0a, 312px 1293px #c50a0a, 986px 1762px #c50a0a,
    1103px 1238px #c50a0a, 428px 1993px #c50a0a, 355px 570px #c50a0a, 977px 1836px #c50a0a,
    1395px 1092px #c50a0a, 276px 913px #c50a0a, 1743px 656px #c50a0a, 773px 502px #c50a0a,
    1686px 1322px #c50a0a, 1516px 1945px #c50a0a, 1334px 501px #c50a0a, 266px 156px #c50a0a,
    455px 655px #c50a0a, 798px 72px #c50a0a, 1059px 1259px #c50a0a, 1402px 1687px #c50a0a,
    236px 1329px #c50a0a, 1455px 786px #c50a0a, 146px 1228px #c50a0a, 1851px 823px #c50a0a,
    1062px 100px #c50a0a, 1220px 953px #c50a0a, 20px 1826px #c50a0a, 36px 1063px #c50a0a,
    1525px 338px #c50a0a, 790px 1521px #c50a0a, 741px 1099px #c50a0a, 288px 1489px #c50a0a,
    700px 1060px #c50a0a, 390px 1071px #c50a0a, 411px 1036px #c50a0a, 1853px 1072px #c50a0a,
    1446px 1085px #c50a0a, 1164px 874px #c50a0a, 924px 925px #c50a0a, 291px 271px #c50a0a,
    1257px 1964px #c50a0a, 1580px 1352px #c50a0a, 1507px 1216px #c50a0a, 211px 956px #c50a0a,
    985px 1195px #c50a0a, 975px 1640px #c50a0a, 518px 101px #c50a0a, 663px 1395px #c50a0a,
    914px 532px #c50a0a, 145px 1320px #c50a0a, 69px 1397px #c50a0a, 982px 523px #c50a0a,
    257px 725px #c50a0a, 1599px 831px #c50a0a, 1636px 1513px #c50a0a, 1250px 1158px #c50a0a,
    1132px 604px #c50a0a, 183px 102px #c50a0a, 1057px 318px #c50a0a, 1247px 1835px #c50a0a,
    1983px 1110px #c50a0a, 1077px 1455px #c50a0a, 921px 1770px #c50a0a, 806px 1350px #c50a0a,
    1938px 1992px #c50a0a, 855px 1260px #c50a0a, 902px 1345px #c50a0a, 658px 1908px #c50a0a,
    1845px 679px #c50a0a, 712px 1482px #c50a0a, 595px 950px #c50a0a, 1784px 1992px #c50a0a,
    1847px 1785px #c50a0a, 691px 1004px #c50a0a, 175px 1179px #c50a0a, 1666px 1911px #c50a0a,
    41px 61px #c50a0a, 971px 1080px #c50a0a, 1830px 1450px #c50a0a, 1351px 1518px #c50a0a,
    1257px 99px #c50a0a, 1395px 1498px #c50a0a, 1117px 252px #c50a0a, 1779px 597px #c50a0a,
    1346px 729px #c50a0a, 1108px 1144px #c50a0a, 402px 691px #c50a0a, 72px 496px #c50a0a,
    1673px 1604px #c50a0a, 1497px 974px #c50a0a, 1865px 1664px #c50a0a, 88px 806px #c50a0a,
    918px 77px #c50a0a, 244px 1118px #c50a0a, 256px 1820px #c50a0a, 1851px 1840px #c50a0a,
    605px 1851px #c50a0a, 634px 383px #c50a0a, 865px 37px #c50a0a, 943px 1024px #c50a0a,
    1951px 177px #c50a0a, 1097px 523px #c50a0a, 985px 1700px #c50a0a, 1243px 122px #c50a0a,
    768px 1070px #c50a0a, 468px 194px #c50a0a, 320px 1867px #c50a0a, 1850px 185px #c50a0a,
    380px 1616px #c50a0a, 468px 1294px #c50a0a, 1122px 1743px #c50a0a, 884px 299px #c50a0a,
    1300px 1917px #c50a0a, 1860px 396px #c50a0a, 1270px 990px #c50a0a, 529px 733px #c50a0a,
    1975px 1347px #c50a0a, 1885px 685px #c50a0a, 226px 506px #c50a0a, 651px 878px #c50a0a,
    1323px 680px #c50a0a, 1284px 680px #c50a0a, 238px 1967px #c50a0a, 911px 174px #c50a0a,
    1111px 521px #c50a0a, 1150px 85px #c50a0a, 794px 502px #c50a0a, 484px 1856px #c50a0a,
    1809px 368px #c50a0a, 112px 953px #c50a0a, 590px 1009px #c50a0a, 1655px 311px #c50a0a,
    100px 1026px #c50a0a, 1803px 352px #c50a0a, 865px 306px #c50a0a, 1077px 1019px #c50a0a,
    1335px 872px #c50a0a, 1647px 1298px #c50a0a, 1233px 1387px #c50a0a, 698px 1036px #c50a0a,
    659px 1860px #c50a0a, 388px 1412px #c50a0a, 1212px 458px #c50a0a, 755px 1468px #c50a0a,
    696px 1654px #c50a0a, 1144px 60px #c50a0a;
}

#stars:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 779px 1331px #c50a0a, 324px 42px #c50a0a, 303px 586px #c50a0a,
    1312px 276px #c50a0a, 451px 625px #c50a0a, 521px 1931px #c50a0a, 1087px 1871px #c50a0a,
    36px 1546px #c50a0a, 132px 934px #c50a0a, 1698px 901px #c50a0a, 1418px 664px #c50a0a,
    1448px 1157px #c50a0a, 1084px 232px #c50a0a, 347px 1776px #c50a0a, 1722px 243px #c50a0a,
    1629px 835px #c50a0a, 479px 969px #c50a0a, 1231px 960px #c50a0a, 586px 384px #c50a0a,
    164px 527px #c50a0a, 8px 646px #c50a0a, 1150px 1126px #c50a0a, 665px 1357px #c50a0a,
    1556px 1982px #c50a0a, 1260px 1961px #c50a0a, 1675px 1741px #c50a0a,
    1843px 1514px #c50a0a, 718px 1628px #c50a0a, 242px 1343px #c50a0a, 1497px 1880px #c50a0a,
    1364px 230px #c50a0a, 1739px 1302px #c50a0a, 636px 959px #c50a0a, 304px 686px #c50a0a,
    614px 751px #c50a0a, 1935px 816px #c50a0a, 1428px 60px #c50a0a, 355px 335px #c50a0a,
    1594px 158px #c50a0a, 90px 60px #c50a0a, 1553px 162px #c50a0a, 1239px 1825px #c50a0a,
    1945px 587px #c50a0a, 749px 1785px #c50a0a, 1987px 1172px #c50a0a, 1301px 1237px #c50a0a,
    1039px 342px #c50a0a, 1585px 1481px #c50a0a, 995px 1048px #c50a0a, 524px 932px #c50a0a,
    214px 413px #c50a0a, 1701px 1300px #c50a0a, 1037px 1613px #c50a0a, 1871px 996px #c50a0a,
    1360px 1635px #c50a0a, 1110px 1313px #c50a0a, 412px 1783px #c50a0a, 1949px 177px #c50a0a,
    903px 1854px #c50a0a, 700px 1936px #c50a0a, 378px 125px #c50a0a, 308px 834px #c50a0a,
    1118px 962px #c50a0a, 1350px 1929px #c50a0a, 781px 1811px #c50a0a, 561px 137px #c50a0a,
    757px 1148px #c50a0a, 1670px 1979px #c50a0a, 343px 739px #c50a0a, 945px 795px #c50a0a,
    576px 1903px #c50a0a, 1078px 1436px #c50a0a, 1583px 450px #c50a0a, 1366px 474px #c50a0a,
    297px 1873px #c50a0a, 192px 162px #c50a0a, 1624px 1633px #c50a0a, 59px 453px #c50a0a,
    82px 1872px #c50a0a, 1933px 498px #c50a0a, 1966px 1974px #c50a0a, 1975px 1688px #c50a0a,
    779px 314px #c50a0a, 1858px 1543px #c50a0a, 73px 1507px #c50a0a, 1693px 975px #c50a0a,
    1683px 108px #c50a0a, 1768px 1654px #c50a0a, 654px 14px #c50a0a, 494px 171px #c50a0a,
    1689px 1895px #c50a0a, 1660px 263px #c50a0a, 1031px 903px #c50a0a, 1203px 1393px #c50a0a,
    1333px 1421px #c50a0a, 1113px 41px #c50a0a, 1206px 1645px #c50a0a, 1325px 1635px #c50a0a,
    142px 388px #c50a0a, 572px 215px #c50a0a, 1535px 296px #c50a0a, 1419px 407px #c50a0a,
    1379px 1003px #c50a0a, 329px 469px #c50a0a, 1791px 1652px #c50a0a, 935px 1802px #c50a0a,
    1330px 1820px #c50a0a, 421px 1933px #c50a0a, 828px 365px #c50a0a, 275px 316px #c50a0a,
    707px 960px #c50a0a, 1605px 1554px #c50a0a, 625px 58px #c50a0a, 717px 1697px #c50a0a,
    1669px 246px #c50a0a, 1925px 322px #c50a0a, 1154px 1803px #c50a0a, 1929px 295px #c50a0a,
    1248px 240px #c50a0a, 1045px 1755px #c50a0a, 166px 942px #c50a0a, 1888px 1773px #c50a0a,
    678px 1963px #c50a0a, 1370px 569px #c50a0a, 1974px 1400px #c50a0a, 1786px 460px #c50a0a,
    51px 307px #c50a0a, 784px 1400px #c50a0a, 730px 1258px #c50a0a, 1712px 393px #c50a0a,
    416px 170px #c50a0a, 1797px 1932px #c50a0a, 572px 219px #c50a0a, 1557px 1856px #c50a0a,
    218px 8px #c50a0a, 348px 1334px #c50a0a, 469px 413px #c50a0a, 385px 1738px #c50a0a,
    1357px 1818px #c50a0a, 240px 942px #c50a0a, 248px 1847px #c50a0a, 1535px 806px #c50a0a,
    236px 1514px #c50a0a, 1429px 1556px #c50a0a, 73px 1633px #c50a0a, 1398px 1121px #c50a0a,
    671px 1301px #c50a0a, 1404px 1663px #c50a0a, 740px 1018px #c50a0a, 1600px 377px #c50a0a,
    785px 514px #c50a0a, 112px 1084px #c50a0a, 1915px 1887px #c50a0a, 1463px 1848px #c50a0a,
    687px 1115px #c50a0a, 1268px 1768px #c50a0a, 1729px 1425px #c50a0a,
    1284px 1022px #c50a0a, 801px 974px #c50a0a, 1975px 1317px #c50a0a, 1354px 834px #c50a0a,
    1446px 1484px #c50a0a, 1283px 1786px #c50a0a, 11px 523px #c50a0a, 1842px 236px #c50a0a,
    1355px 654px #c50a0a, 429px 7px #c50a0a, 1033px 1128px #c50a0a, 157px 297px #c50a0a,
    545px 635px #c50a0a, 52px 1080px #c50a0a, 827px 1520px #c50a0a, 1121px 490px #c50a0a,
    9px 309px #c50a0a, 1744px 1586px #c50a0a, 1014px 417px #c50a0a, 1534px 524px #c50a0a,
    958px 552px #c50a0a, 1403px 1496px #c50a0a, 387px 703px #c50a0a, 1522px 548px #c50a0a,
    1355px 282px #c50a0a, 1532px 601px #c50a0a, 1838px 790px #c50a0a, 290px 259px #c50a0a,
    295px 598px #c50a0a, 1601px 539px #c50a0a, 1561px 1272px #c50a0a, 34px 1922px #c50a0a,
    1024px 543px #c50a0a, 467px 369px #c50a0a, 722px 333px #c50a0a, 1976px 1255px #c50a0a,
    766px 983px #c50a0a, 1582px 1285px #c50a0a, 12px 512px #c50a0a, 617px 1410px #c50a0a,
    682px 577px #c50a0a, 1334px 1438px #c50a0a, 439px 327px #c50a0a, 1617px 1661px #c50a0a,
    673px 129px #c50a0a, 794px 941px #c50a0a, 1386px 1902px #c50a0a, 37px 1353px #c50a0a,
    1467px 1353px #c50a0a, 416px 18px #c50a0a, 187px 344px #c50a0a, 200px 1898px #c50a0a,
    1491px 1619px #c50a0a, 811px 347px #c50a0a, 924px 1827px #c50a0a, 945px 217px #c50a0a,
    1735px 1228px #c50a0a, 379px 1890px #c50a0a, 79px 761px #c50a0a, 825px 1837px #c50a0a,
    1980px 1558px #c50a0a, 1308px 1573px #c50a0a, 1488px 1726px #c50a0a,
    382px 1208px #c50a0a, 522px 595px #c50a0a, 1277px 1898px #c50a0a, 354px 552px #c50a0a,
    161px 1784px #c50a0a, 614px 251px #c50a0a, 526px 1576px #c50a0a, 17px 212px #c50a0a,
    179px 996px #c50a0a, 467px 1208px #c50a0a, 1944px 1838px #c50a0a, 1140px 1093px #c50a0a,
    858px 1007px #c50a0a, 200px 1064px #c50a0a, 423px 1964px #c50a0a, 1945px 439px #c50a0a,
    1377px 689px #c50a0a, 1120px 1437px #c50a0a, 1876px 668px #c50a0a, 907px 1324px #c50a0a,
    343px 1976px #c50a0a, 1816px 1501px #c50a0a, 1849px 177px #c50a0a, 647px 91px #c50a0a,
    1984px 1012px #c50a0a, 1336px 1300px #c50a0a, 128px 648px #c50a0a, 305px 1060px #c50a0a,
    1324px 826px #c50a0a, 1263px 1314px #c50a0a, 1801px 629px #c50a0a, 1614px 1555px #c50a0a,
    1634px 90px #c50a0a, 1603px 452px #c50a0a, 891px 1984px #c50a0a, 1556px 1906px #c50a0a,
    121px 68px #c50a0a, 1676px 1714px #c50a0a, 516px 936px #c50a0a, 1947px 1492px #c50a0a,
    1455px 1519px #c50a0a, 45px 602px #c50a0a, 205px 1039px #c50a0a, 793px 172px #c50a0a,
    1562px 1739px #c50a0a, 1056px 110px #c50a0a, 1512px 379px #c50a0a, 1795px 1621px #c50a0a,
    1848px 607px #c50a0a, 262px 1719px #c50a0a, 477px 991px #c50a0a, 483px 883px #c50a0a,
    1239px 1197px #c50a0a, 1496px 647px #c50a0a, 1649px 25px #c50a0a, 1491px 1946px #c50a0a,
    119px 996px #c50a0a, 179px 1472px #c50a0a, 1341px 808px #c50a0a, 1565px 1700px #c50a0a,
    407px 1544px #c50a0a, 1754px 357px #c50a0a, 1288px 981px #c50a0a, 902px 1997px #c50a0a,
    1755px 1668px #c50a0a, 186px 877px #c50a0a, 1202px 1882px #c50a0a, 461px 1213px #c50a0a,
    1400px 748px #c50a0a, 1969px 1899px #c50a0a, 809px 522px #c50a0a, 514px 1219px #c50a0a,
    374px 275px #c50a0a, 938px 1973px #c50a0a, 357px 552px #c50a0a, 144px 1722px #c50a0a,
    1572px 912px #c50a0a, 402px 1858px #c50a0a, 1544px 1195px #c50a0a, 667px 1257px #c50a0a,
    727px 1496px #c50a0a, 993px 232px #c50a0a, 1772px 313px #c50a0a, 1040px 1590px #c50a0a,
    1204px 1973px #c50a0a, 1268px 79px #c50a0a, 1555px 1048px #c50a0a, 986px 1707px #c50a0a,
    978px 1710px #c50a0a, 713px 360px #c50a0a, 407px 863px #c50a0a, 461px 736px #c50a0a,
    284px 1608px #c50a0a, 103px 430px #c50a0a, 1283px 1319px #c50a0a, 977px 1186px #c50a0a,
    1966px 1516px #c50a0a, 1287px 1129px #c50a0a, 70px 1098px #c50a0a, 1189px 889px #c50a0a,
    1126px 1734px #c50a0a, 309px 1292px #c50a0a, 879px 764px #c50a0a, 65px 473px #c50a0a,
    1003px 1959px #c50a0a, 658px 791px #c50a0a, 402px 1576px #c50a0a, 35px 622px #c50a0a,
    529px 1589px #c50a0a, 164px 666px #c50a0a, 1876px 1290px #c50a0a, 1541px 526px #c50a0a,
    270px 1297px #c50a0a, 440px 865px #c50a0a, 1500px 802px #c50a0a, 182px 1754px #c50a0a,
    1264px 892px #c50a0a, 272px 1249px #c50a0a, 1289px 1535px #c50a0a, 190px 1646px #c50a0a,
    955px 242px #c50a0a, 1456px 1597px #c50a0a, 1727px 1983px #c50a0a, 635px 801px #c50a0a,
    226px 455px #c50a0a, 1396px 1710px #c50a0a, 849px 1863px #c50a0a, 237px 1264px #c50a0a,
    839px 140px #c50a0a, 1122px 735px #c50a0a, 1280px 15px #c50a0a, 1318px 242px #c50a0a,
    1819px 1148px #c50a0a, 333px 1392px #c50a0a, 1949px 553px #c50a0a, 1878px 1332px #c50a0a,
    467px 548px #c50a0a, 1812px 1082px #c50a0a, 1067px 193px #c50a0a, 243px 156px #c50a0a,
    483px 1616px #c50a0a, 1714px 933px #c50a0a, 759px 1800px #c50a0a, 1822px 995px #c50a0a,
    1877px 572px #c50a0a, 581px 1084px #c50a0a, 107px 732px #c50a0a, 642px 1837px #c50a0a,
    166px 1493px #c50a0a, 1555px 198px #c50a0a, 819px 307px #c50a0a, 947px 345px #c50a0a,
    827px 224px #c50a0a, 927px 1394px #c50a0a, 540px 467px #c50a0a, 1093px 405px #c50a0a,
    1140px 927px #c50a0a, 130px 529px #c50a0a, 33px 1980px #c50a0a, 1147px 1663px #c50a0a,
    1616px 1436px #c50a0a, 528px 710px #c50a0a, 798px 1100px #c50a0a, 505px 1480px #c50a0a,
    899px 641px #c50a0a, 1909px 1949px #c50a0a, 1311px 964px #c50a0a, 979px 1301px #c50a0a,
    1393px 969px #c50a0a, 1793px 1886px #c50a0a, 292px 357px #c50a0a, 1196px 1718px #c50a0a,
    1290px 1994px #c50a0a, 537px 1973px #c50a0a, 1181px 1674px #c50a0a,
    1740px 1566px #c50a0a, 1307px 265px #c50a0a, 922px 522px #c50a0a, 1892px 472px #c50a0a,
    384px 1746px #c50a0a, 392px 1098px #c50a0a, 647px 548px #c50a0a, 390px 1498px #c50a0a,
    1246px 138px #c50a0a, 730px 876px #c50a0a, 192px 1472px #c50a0a, 1790px 1789px #c50a0a,
    928px 311px #c50a0a, 1253px 1647px #c50a0a, 747px 1921px #c50a0a, 1561px 1025px #c50a0a,
    1533px 1292px #c50a0a, 1985px 195px #c50a0a, 728px 729px #c50a0a, 1712px 1936px #c50a0a,
    512px 1717px #c50a0a, 1528px 483px #c50a0a, 313px 1642px #c50a0a, 281px 1849px #c50a0a,
    1212px 799px #c50a0a, 435px 1191px #c50a0a, 1422px 611px #c50a0a, 1718px 1964px #c50a0a,
    411px 944px #c50a0a, 210px 636px #c50a0a, 1502px 1295px #c50a0a, 1434px 349px #c50a0a,
    769px 60px #c50a0a, 747px 1053px #c50a0a, 789px 504px #c50a0a, 1436px 1264px #c50a0a,
    1893px 1225px #c50a0a, 1394px 1788px #c50a0a, 1108px 1317px #c50a0a,
    1673px 1395px #c50a0a, 854px 1010px #c50a0a, 1705px 80px #c50a0a, 1858px 148px #c50a0a,
    1729px 344px #c50a0a, 1388px 664px #c50a0a, 895px 406px #c50a0a, 1479px 157px #c50a0a,
    1441px 1157px #c50a0a, 552px 1900px #c50a0a, 516px 364px #c50a0a, 1647px 189px #c50a0a,
    1427px 1071px #c50a0a, 785px 729px #c50a0a, 1080px 1710px #c50a0a, 504px 204px #c50a0a,
    1177px 1622px #c50a0a, 657px 34px #c50a0a, 1296px 1099px #c50a0a, 248px 180px #c50a0a,
    1212px 1568px #c50a0a, 667px 1562px #c50a0a, 695px 841px #c50a0a, 1608px 1247px #c50a0a,
    751px 882px #c50a0a, 87px 167px #c50a0a, 607px 1368px #c50a0a, 1363px 1203px #c50a0a,
    1836px 317px #c50a0a, 1668px 1703px #c50a0a, 830px 1154px #c50a0a, 1721px 1398px #c50a0a,
    1601px 1280px #c50a0a, 976px 874px #c50a0a, 1743px 254px #c50a0a, 1020px 1815px #c50a0a,
    1670px 1766px #c50a0a, 1890px 735px #c50a0a, 1379px 136px #c50a0a, 1864px 695px #c50a0a,
    206px 965px #c50a0a, 1404px 1932px #c50a0a, 1923px 1360px #c50a0a, 247px 682px #c50a0a,
    519px 1708px #c50a0a, 645px 750px #c50a0a, 1164px 1204px #c50a0a, 834px 323px #c50a0a,
    172px 1350px #c50a0a, 213px 972px #c50a0a, 1837px 190px #c50a0a, 285px 1806px #c50a0a,
    1047px 1299px #c50a0a, 1548px 825px #c50a0a, 1730px 324px #c50a0a, 1346px 1909px #c50a0a,
    772px 270px #c50a0a, 345px 1190px #c50a0a, 478px 1433px #c50a0a, 1479px 25px #c50a0a,
    1994px 1830px #c50a0a, 1744px 732px #c50a0a, 20px 1635px #c50a0a, 690px 1795px #c50a0a,
    1594px 569px #c50a0a, 579px 245px #c50a0a, 1398px 733px #c50a0a, 408px 1352px #c50a0a,
    1774px 120px #c50a0a, 1152px 1370px #c50a0a, 1698px 1810px #c50a0a, 710px 1450px #c50a0a,
    665px 286px #c50a0a, 493px 1720px #c50a0a, 786px 5px #c50a0a, 637px 1140px #c50a0a,
    764px 324px #c50a0a, 927px 310px #c50a0a, 938px 1424px #c50a0a, 1884px 744px #c50a0a,
    913px 462px #c50a0a, 1831px 1936px #c50a0a, 1527px 249px #c50a0a, 36px 1381px #c50a0a,
    1597px 581px #c50a0a, 1530px 355px #c50a0a, 949px 459px #c50a0a, 799px 828px #c50a0a,
    242px 1471px #c50a0a, 654px 797px #c50a0a, 796px 594px #c50a0a, 1365px 678px #c50a0a,
    752px 23px #c50a0a, 1630px 541px #c50a0a, 982px 72px #c50a0a, 1733px 1831px #c50a0a,
    21px 412px #c50a0a, 775px 998px #c50a0a, 335px 1945px #c50a0a, 264px 583px #c50a0a,
    158px 1311px #c50a0a, 528px 164px #c50a0a, 1978px 574px #c50a0a, 717px 1203px #c50a0a,
    734px 1591px #c50a0a, 1555px 820px #c50a0a, 16px 1943px #c50a0a, 1625px 1177px #c50a0a,
    1236px 690px #c50a0a, 1585px 1590px #c50a0a, 1737px 1728px #c50a0a, 721px 698px #c50a0a,
    1804px 1186px #c50a0a, 166px 980px #c50a0a, 1850px 230px #c50a0a, 330px 1712px #c50a0a,
    95px 797px #c50a0a, 1948px 1078px #c50a0a, 469px 939px #c50a0a, 1269px 1899px #c50a0a,
    955px 1220px #c50a0a, 1137px 1075px #c50a0a, 312px 1293px #c50a0a, 986px 1762px #c50a0a,
    1103px 1238px #c50a0a, 428px 1993px #c50a0a, 355px 570px #c50a0a, 977px 1836px #c50a0a,
    1395px 1092px #c50a0a, 276px 913px #c50a0a, 1743px 656px #c50a0a, 773px 502px #c50a0a,
    1686px 1322px #c50a0a, 1516px 1945px #c50a0a, 1334px 501px #c50a0a, 266px 156px #c50a0a,
    455px 655px #c50a0a, 798px 72px #c50a0a, 1059px 1259px #c50a0a, 1402px 1687px #c50a0a,
    236px 1329px #c50a0a, 1455px 786px #c50a0a, 146px 1228px #c50a0a, 1851px 823px #c50a0a,
    1062px 100px #c50a0a, 1220px 953px #c50a0a, 20px 1826px #c50a0a, 36px 1063px #c50a0a,
    1525px 338px #c50a0a, 790px 1521px #c50a0a, 741px 1099px #c50a0a, 288px 1489px #c50a0a,
    700px 1060px #c50a0a, 390px 1071px #c50a0a, 411px 1036px #c50a0a, 1853px 1072px #c50a0a,
    1446px 1085px #c50a0a, 1164px 874px #c50a0a, 924px 925px #c50a0a, 291px 271px #c50a0a,
    1257px 1964px #c50a0a, 1580px 1352px #c50a0a, 1507px 1216px #c50a0a, 211px 956px #c50a0a,
    985px 1195px #c50a0a, 975px 1640px #c50a0a, 518px 101px #c50a0a, 663px 1395px #c50a0a,
    914px 532px #c50a0a, 145px 1320px #c50a0a, 69px 1397px #c50a0a, 982px 523px #c50a0a,
    257px 725px #c50a0a, 1599px 831px #c50a0a, 1636px 1513px #c50a0a, 1250px 1158px #c50a0a,
    1132px 604px #c50a0a, 183px 102px #c50a0a, 1057px 318px #c50a0a, 1247px 1835px #c50a0a,
    1983px 1110px #c50a0a, 1077px 1455px #c50a0a, 921px 1770px #c50a0a, 806px 1350px #c50a0a,
    1938px 1992px #c50a0a, 855px 1260px #c50a0a, 902px 1345px #c50a0a, 658px 1908px #c50a0a,
    1845px 679px #c50a0a, 712px 1482px #c50a0a, 595px 950px #c50a0a, 1784px 1992px #c50a0a,
    1847px 1785px #c50a0a, 691px 1004px #c50a0a, 175px 1179px #c50a0a, 1666px 1911px #c50a0a,
    41px 61px #c50a0a, 971px 1080px #c50a0a, 1830px 1450px #c50a0a, 1351px 1518px #c50a0a,
    1257px 99px #c50a0a, 1395px 1498px #c50a0a, 1117px 252px #c50a0a, 1779px 597px #c50a0a,
    1346px 729px #c50a0a, 1108px 1144px #c50a0a, 402px 691px #c50a0a, 72px 496px #c50a0a,
    1673px 1604px #c50a0a, 1497px 974px #c50a0a, 1865px 1664px #c50a0a, 88px 806px #c50a0a,
    918px 77px #c50a0a, 244px 1118px #c50a0a, 256px 1820px #c50a0a, 1851px 1840px #c50a0a,
    605px 1851px #c50a0a, 634px 383px #c50a0a, 865px 37px #c50a0a, 943px 1024px #c50a0a,
    1951px 177px #c50a0a, 1097px 523px #c50a0a, 985px 1700px #c50a0a, 1243px 122px #c50a0a,
    768px 1070px #c50a0a, 468px 194px #c50a0a, 320px 1867px #c50a0a, 1850px 185px #c50a0a,
    380px 1616px #c50a0a, 468px 1294px #c50a0a, 1122px 1743px #c50a0a, 884px 299px #c50a0a,
    1300px 1917px #c50a0a, 1860px 396px #c50a0a, 1270px 990px #c50a0a, 529px 733px #c50a0a,
    1975px 1347px #c50a0a, 1885px 685px #c50a0a, 226px 506px #c50a0a, 651px 878px #c50a0a,
    1323px 680px #c50a0a, 1284px 680px #c50a0a, 238px 1967px #c50a0a, 911px 174px #c50a0a,
    1111px 521px #c50a0a, 1150px 85px #c50a0a, 794px 502px #c50a0a, 484px 1856px #c50a0a,
    1809px 368px #c50a0a, 112px 953px #c50a0a, 590px 1009px #c50a0a, 1655px 311px #c50a0a,
    100px 1026px #c50a0a, 1803px 352px #c50a0a, 865px 306px #c50a0a, 1077px 1019px #c50a0a,
    1335px 872px #c50a0a, 1647px 1298px #c50a0a, 1233px 1387px #c50a0a, 698px 1036px #c50a0a,
    659px 1860px #c50a0a, 388px 1412px #c50a0a, 1212px 458px #c50a0a, 755px 1468px #c50a0a,
    696px 1654px #c50a0a, 1144px 60px #c50a0a;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 80s linear infinite;
    box-shadow: 1448px 320px #c50a0a, 1775px 1663px #c50a0a, 332px 1364px #c50a0a,
    878px 340px #c50a0a, 569px 1832px #c50a0a, 1422px 1684px #c50a0a, 1946px 1907px #c50a0a,
    121px 979px #c50a0a, 1044px 1069px #c50a0a, 463px 381px #c50a0a, 423px 112px #c50a0a,
    523px 1179px #c50a0a, 779px 654px #c50a0a, 1398px 694px #c50a0a, 1085px 1464px #c50a0a,
    1599px 1869px #c50a0a, 801px 1882px #c50a0a, 779px 1231px #c50a0a, 552px 932px #c50a0a,
    1057px 1196px #c50a0a, 282px 1280px #c50a0a, 496px 1986px #c50a0a, 1833px 1120px #c50a0a,
    1802px 1293px #c50a0a, 6px 1696px #c50a0a, 412px 1902px #c50a0a, 605px 438px #c50a0a,
    24px 1212px #c50a0a, 234px 1320px #c50a0a, 544px 344px #c50a0a, 1107px 170px #c50a0a,
    1603px 196px #c50a0a, 905px 648px #c50a0a, 68px 1458px #c50a0a, 649px 1969px #c50a0a,
    744px 675px #c50a0a, 1127px 478px #c50a0a, 714px 1814px #c50a0a, 1486px 526px #c50a0a,
    270px 1636px #c50a0a, 1931px 149px #c50a0a, 1807px 378px #c50a0a, 8px 390px #c50a0a,
    1415px 699px #c50a0a, 1473px 1211px #c50a0a, 1590px 141px #c50a0a, 270px 1705px #c50a0a,
    69px 1423px #c50a0a, 1108px 1053px #c50a0a, 1946px 128px #c50a0a, 371px 371px #c50a0a,
    1490px 220px #c50a0a, 357px 1885px #c50a0a, 363px 363px #c50a0a, 1896px 1256px #c50a0a,
    1979px 1050px #c50a0a, 947px 1342px #c50a0a, 1754px 242px #c50a0a, 514px 974px #c50a0a,
    65px 1477px #c50a0a, 1840px 547px #c50a0a, 950px 695px #c50a0a, 459px 1150px #c50a0a,
    1124px 1502px #c50a0a, 481px 940px #c50a0a, 680px 839px #c50a0a, 797px 1169px #c50a0a,
    1977px 1491px #c50a0a, 734px 1724px #c50a0a, 210px 298px #c50a0a, 816px 628px #c50a0a,
    686px 770px #c50a0a, 1721px 267px #c50a0a, 1663px 511px #c50a0a, 1481px 1141px #c50a0a,
    582px 248px #c50a0a, 1308px 953px #c50a0a, 628px 657px #c50a0a, 897px 1535px #c50a0a,
    270px 931px #c50a0a, 791px 467px #c50a0a, 1336px 1732px #c50a0a, 1013px 1653px #c50a0a,
    1911px 956px #c50a0a, 587px 816px #c50a0a, 83px 456px #c50a0a, 930px 1478px #c50a0a,
    1587px 1694px #c50a0a, 614px 1200px #c50a0a, 302px 1782px #c50a0a, 1711px 1432px #c50a0a,
    443px 904px #c50a0a, 1666px 714px #c50a0a, 1588px 1167px #c50a0a, 273px 1075px #c50a0a,
    1679px 461px #c50a0a, 721px 664px #c50a0a, 1202px 10px #c50a0a, 166px 1126px #c50a0a,
    331px 1628px #c50a0a, 430px 1565px #c50a0a, 1585px 509px #c50a0a, 640px 38px #c50a0a,
    822px 837px #c50a0a, 1760px 1664px #c50a0a, 1122px 1458px #c50a0a, 398px 131px #c50a0a,
    689px 285px #c50a0a, 460px 652px #c50a0a, 1627px 365px #c50a0a, 348px 1648px #c50a0a,
    819px 1946px #c50a0a, 981px 1917px #c50a0a, 323px 76px #c50a0a, 979px 684px #c50a0a,
    887px 536px #c50a0a, 1348px 1596px #c50a0a, 1055px 666px #c50a0a, 1402px 1797px #c50a0a,
    1300px 1055px #c50a0a, 937px 238px #c50a0a, 1474px 1815px #c50a0a, 1144px 1710px #c50a0a,
    1629px 1087px #c50a0a, 911px 919px #c50a0a, 771px 819px #c50a0a, 403px 720px #c50a0a,
    163px 736px #c50a0a, 1062px 238px #c50a0a, 1774px 818px #c50a0a, 1874px 1178px #c50a0a,
    1177px 699px #c50a0a, 1244px 1244px #c50a0a, 1371px 58px #c50a0a, 564px 1515px #c50a0a,
    1824px 487px #c50a0a, 929px 702px #c50a0a, 394px 1348px #c50a0a, 1161px 641px #c50a0a,
    219px 1841px #c50a0a, 358px 941px #c50a0a, 140px 1759px #c50a0a, 1019px 1345px #c50a0a,
    274px 436px #c50a0a, 1433px 1605px #c50a0a, 1798px 1426px #c50a0a, 294px 1848px #c50a0a,
    1681px 1877px #c50a0a, 1344px 1824px #c50a0a, 1439px 1632px #c50a0a,
    161px 1012px #c50a0a, 1308px 588px #c50a0a, 1789px 582px #c50a0a, 721px 1910px #c50a0a,
    318px 218px #c50a0a, 607px 319px #c50a0a, 495px 535px #c50a0a, 1552px 1575px #c50a0a,
    1562px 67px #c50a0a, 403px 926px #c50a0a, 1096px 1800px #c50a0a, 1814px 1709px #c50a0a,
    1882px 1831px #c50a0a, 533px 46px #c50a0a, 823px 969px #c50a0a, 530px 165px #c50a0a,
    1030px 352px #c50a0a, 1681px 313px #c50a0a, 338px 115px #c50a0a, 1607px 211px #c50a0a,
    1718px 1184px #c50a0a, 1589px 659px #c50a0a, 278px 355px #c50a0a, 464px 1464px #c50a0a,
    1165px 277px #c50a0a, 950px 694px #c50a0a, 1746px 293px #c50a0a, 793px 911px #c50a0a,
    528px 773px #c50a0a, 1883px 1694px #c50a0a, 748px 182px #c50a0a, 1924px 1531px #c50a0a,
    100px 636px #c50a0a, 1473px 1445px #c50a0a, 1264px 1244px #c50a0a, 850px 1377px #c50a0a,
    987px 1976px #c50a0a, 933px 1761px #c50a0a, 922px 1270px #c50a0a, 500px 396px #c50a0a,
    1324px 8px #c50a0a, 1967px 1814px #c50a0a, 1072px 1401px #c50a0a, 961px 37px #c50a0a,
    156px 81px #c50a0a, 1915px 502px #c50a0a, 1076px 1846px #c50a0a, 152px 1669px #c50a0a,
    986px 1529px #c50a0a, 1667px 1137px #c50a0a;
}

#stars2:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1448px 320px #c50a0a, 1775px 1663px #c50a0a, 332px 1364px #c50a0a,
    878px 340px #c50a0a, 569px 1832px #c50a0a, 1422px 1684px #c50a0a, 1946px 1907px #c50a0a,
    121px 979px #c50a0a, 1044px 1069px #c50a0a, 463px 381px #c50a0a, 423px 112px #c50a0a,
    523px 1179px #c50a0a, 779px 654px #c50a0a, 1398px 694px #c50a0a, 1085px 1464px #c50a0a,
    1599px 1869px #c50a0a, 801px 1882px #c50a0a, 779px 1231px #c50a0a, 552px 932px #c50a0a,
    1057px 1196px #c50a0a, 282px 1280px #c50a0a, 496px 1986px #c50a0a, 1833px 1120px #c50a0a,
    1802px 1293px #c50a0a, 6px 1696px #c50a0a, 412px 1902px #c50a0a, 605px 438px #c50a0a,
    24px 1212px #c50a0a, 234px 1320px #c50a0a, 544px 344px #c50a0a, 1107px 170px #c50a0a,
    1603px 196px #c50a0a, 905px 648px #c50a0a, 68px 1458px #c50a0a, 649px 1969px #c50a0a,
    744px 675px #c50a0a, 1127px 478px #c50a0a, 714px 1814px #c50a0a, 1486px 526px #c50a0a,
    270px 1636px #c50a0a, 1931px 149px #c50a0a, 1807px 378px #c50a0a, 8px 390px #c50a0a,
    1415px 699px #c50a0a, 1473px 1211px #c50a0a, 1590px 141px #c50a0a, 270px 1705px #c50a0a,
    69px 1423px #c50a0a, 1108px 1053px #c50a0a, 1946px 128px #c50a0a, 371px 371px #c50a0a,
    1490px 220px #c50a0a, 357px 1885px #c50a0a, 363px 363px #c50a0a, 1896px 1256px #c50a0a,
    1979px 1050px #c50a0a, 947px 1342px #c50a0a, 1754px 242px #c50a0a, 514px 974px #c50a0a,
    65px 1477px #c50a0a, 1840px 547px #c50a0a, 950px 695px #c50a0a, 459px 1150px #c50a0a,
    1124px 1502px #c50a0a, 481px 940px #c50a0a, 680px 839px #c50a0a, 797px 1169px #c50a0a,
    1977px 1491px #c50a0a, 734px 1724px #c50a0a, 210px 298px #c50a0a, 816px 628px #c50a0a,
    686px 770px #c50a0a, 1721px 267px #c50a0a, 1663px 511px #c50a0a, 1481px 1141px #c50a0a,
    582px 248px #c50a0a, 1308px 953px #c50a0a, 628px 657px #c50a0a, 897px 1535px #c50a0a,
    270px 931px #c50a0a, 791px 467px #c50a0a, 1336px 1732px #c50a0a, 1013px 1653px #c50a0a,
    1911px 956px #c50a0a, 587px 816px #c50a0a, 83px 456px #c50a0a, 930px 1478px #c50a0a,
    1587px 1694px #c50a0a, 614px 1200px #c50a0a, 302px 1782px #c50a0a, 1711px 1432px #c50a0a,
    443px 904px #c50a0a, 1666px 714px #c50a0a, 1588px 1167px #c50a0a, 273px 1075px #c50a0a,
    1679px 461px #c50a0a, 721px 664px #c50a0a, 1202px 10px #c50a0a, 166px 1126px #c50a0a,
    331px 1628px #c50a0a, 430px 1565px #c50a0a, 1585px 509px #c50a0a, 640px 38px #c50a0a,
    822px 837px #c50a0a, 1760px 1664px #c50a0a, 1122px 1458px #c50a0a, 398px 131px #c50a0a,
    689px 285px #c50a0a, 460px 652px #c50a0a, 1627px 365px #c50a0a, 348px 1648px #c50a0a,
    819px 1946px #c50a0a, 981px 1917px #c50a0a, 323px 76px #c50a0a, 979px 684px #c50a0a,
    887px 536px #c50a0a, 1348px 1596px #c50a0a, 1055px 666px #c50a0a, 1402px 1797px #c50a0a,
    1300px 1055px #c50a0a, 937px 238px #c50a0a, 1474px 1815px #c50a0a, 1144px 1710px #c50a0a,
    1629px 1087px #c50a0a, 911px 919px #c50a0a, 771px 819px #c50a0a, 403px 720px #c50a0a,
    163px 736px #c50a0a, 1062px 238px #c50a0a, 1774px 818px #c50a0a, 1874px 1178px #c50a0a,
    1177px 699px #c50a0a, 1244px 1244px #c50a0a, 1371px 58px #c50a0a, 564px 1515px #c50a0a,
    1824px 487px #c50a0a, 929px 702px #c50a0a, 394px 1348px #c50a0a, 1161px 641px #c50a0a,
    219px 1841px #c50a0a, 358px 941px #c50a0a, 140px 1759px #c50a0a, 1019px 1345px #c50a0a,
    274px 436px #c50a0a, 1433px 1605px #c50a0a, 1798px 1426px #c50a0a, 294px 1848px #c50a0a,
    1681px 1877px #c50a0a, 1344px 1824px #c50a0a, 1439px 1632px #c50a0a,
    161px 1012px #c50a0a, 1308px 588px #c50a0a, 1789px 582px #c50a0a, 721px 1910px #c50a0a,
    318px 218px #c50a0a, 607px 319px #c50a0a, 495px 535px #c50a0a, 1552px 1575px #c50a0a,
    1562px 67px #c50a0a, 403px 926px #c50a0a, 1096px 1800px #c50a0a, 1814px 1709px #c50a0a,
    1882px 1831px #c50a0a, 533px 46px #c50a0a, 823px 969px #c50a0a, 530px 165px #c50a0a,
    1030px 352px #c50a0a, 1681px 313px #c50a0a, 338px 115px #c50a0a, 1607px 211px #c50a0a,
    1718px 1184px #c50a0a, 1589px 659px #c50a0a, 278px 355px #c50a0a, 464px 1464px #c50a0a,
    1165px 277px #c50a0a, 950px 694px #c50a0a, 1746px 293px #c50a0a, 793px 911px #c50a0a,
    528px 773px #c50a0a, 1883px 1694px #c50a0a, 748px 182px #c50a0a, 1924px 1531px #c50a0a,
    100px 636px #c50a0a, 1473px 1445px #c50a0a, 1264px 1244px #c50a0a, 850px 1377px #c50a0a,
    987px 1976px #c50a0a, 933px 1761px #c50a0a, 922px 1270px #c50a0a, 500px 396px #c50a0a,
    1324px 8px #c50a0a, 1967px 1814px #c50a0a, 1072px 1401px #c50a0a, 961px 37px #c50a0a,
    156px 81px #c50a0a, 1915px 502px #c50a0a, 1076px 1846px #c50a0a, 152px 1669px #c50a0a,
    986px 1529px #c50a0a, 1667px 1137px #c50a0a;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 100s linear infinite;
    box-shadow: 387px 1878px #c50a0a, 760px 1564px #c50a0a, 1487px 999px #c50a0a,
    948px 1828px #c50a0a, 1977px 1001px #c50a0a, 1284px 1963px #c50a0a, 656px 284px #c50a0a,
    1268px 1635px #c50a0a, 1820px 598px #c50a0a, 642px 1900px #c50a0a, 296px 57px #c50a0a,
    921px 1620px #c50a0a, 476px 1858px #c50a0a, 658px 613px #c50a0a, 1171px 1363px #c50a0a,
    1419px 283px #c50a0a, 1037px 731px #c50a0a, 503px 663px #c50a0a, 1562px 463px #c50a0a,
    383px 1197px #c50a0a, 1171px 1233px #c50a0a, 876px 1768px #c50a0a, 856px 1615px #c50a0a,
    1375px 1924px #c50a0a, 1725px 918px #c50a0a, 952px 119px #c50a0a, 768px 1212px #c50a0a,
    992px 1462px #c50a0a, 1929px 717px #c50a0a, 1947px 755px #c50a0a, 1818px 1123px #c50a0a,
    1896px 1672px #c50a0a, 460px 198px #c50a0a, 256px 271px #c50a0a, 752px 544px #c50a0a,
    1222px 1859px #c50a0a, 1851px 443px #c50a0a, 313px 1858px #c50a0a, 709px 446px #c50a0a,
    1546px 697px #c50a0a, 674px 1155px #c50a0a, 1112px 130px #c50a0a, 355px 1790px #c50a0a,
    1496px 974px #c50a0a, 1696px 480px #c50a0a, 1316px 1265px #c50a0a, 1645px 1063px #c50a0a,
    1182px 237px #c50a0a, 427px 1582px #c50a0a, 859px 253px #c50a0a, 458px 939px #c50a0a,
    1517px 1644px #c50a0a, 1943px 60px #c50a0a, 212px 1650px #c50a0a, 966px 1786px #c50a0a,
    473px 712px #c50a0a, 130px 76px #c50a0a, 1417px 1186px #c50a0a, 909px 1580px #c50a0a,
    1913px 762px #c50a0a, 204px 1143px #c50a0a, 1998px 1057px #c50a0a, 1468px 1301px #c50a0a,
    144px 1676px #c50a0a, 21px 1601px #c50a0a, 382px 1362px #c50a0a, 912px 753px #c50a0a,
    1488px 1405px #c50a0a, 802px 156px #c50a0a, 174px 550px #c50a0a, 338px 1366px #c50a0a,
    1197px 774px #c50a0a, 602px 486px #c50a0a, 682px 1877px #c50a0a, 348px 1503px #c50a0a,
    407px 1139px #c50a0a, 950px 1400px #c50a0a, 922px 1139px #c50a0a, 1697px 293px #c50a0a,
    1238px 1281px #c50a0a, 1038px 1197px #c50a0a, 376px 1889px #c50a0a,
    1255px 1680px #c50a0a, 1008px 1316px #c50a0a, 1538px 1447px #c50a0a,
    1186px 874px #c50a0a, 1967px 640px #c50a0a, 1341px 19px #c50a0a, 29px 1732px #c50a0a,
    16px 1650px #c50a0a, 1021px 1075px #c50a0a, 723px 424px #c50a0a, 1175px 41px #c50a0a,
    494px 1957px #c50a0a, 1296px 431px #c50a0a, 175px 1507px #c50a0a, 831px 121px #c50a0a,
    498px 1947px #c50a0a, 617px 880px #c50a0a, 240px 403px #c50a0a;
}

#stars3:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 387px 1878px #c50a0a, 760px 1564px #c50a0a, 1487px 999px #c50a0a,
    948px 1828px #c50a0a, 1977px 1001px #c50a0a, 1284px 1963px #c50a0a, 656px 284px #c50a0a,
    1268px 1635px #c50a0a, 1820px 598px #c50a0a, 642px 1900px #c50a0a, 296px 57px #c50a0a,
    921px 1620px #c50a0a, 476px 1858px #c50a0a, 658px 613px #c50a0a, 1171px 1363px #c50a0a,
    1419px 283px #c50a0a, 1037px 731px #c50a0a, 503px 663px #c50a0a, 1562px 463px #c50a0a,
    383px 1197px #c50a0a, 1171px 1233px #c50a0a, 876px 1768px #c50a0a, 856px 1615px #c50a0a,
    1375px 1924px #c50a0a, 1725px 918px #c50a0a, 952px 119px #c50a0a, 768px 1212px #c50a0a,
    992px 1462px #c50a0a, 1929px 717px #c50a0a, 1947px 755px #c50a0a, 1818px 1123px #c50a0a,
    1896px 1672px #c50a0a, 460px 198px #c50a0a, 256px 271px #c50a0a, 752px 544px #c50a0a,
    1222px 1859px #c50a0a, 1851px 443px #c50a0a, 313px 1858px #c50a0a, 709px 446px #c50a0a,
    1546px 697px #c50a0a, 674px 1155px #c50a0a, 1112px 130px #c50a0a, 355px 1790px #c50a0a,
    1496px 974px #c50a0a, 1696px 480px #c50a0a, 1316px 1265px #c50a0a, 1645px 1063px #c50a0a,
    1182px 237px #c50a0a, 427px 1582px #c50a0a, 859px 253px #c50a0a, 458px 939px #c50a0a,
    1517px 1644px #c50a0a, 1943px 60px #c50a0a, 212px 1650px #c50a0a, 966px 1786px #c50a0a,
    473px 712px #c50a0a, 130px 76px #c50a0a, 1417px 1186px #c50a0a, 909px 1580px #c50a0a,
    1913px 762px #c50a0a, 204px 1143px #c50a0a, 1998px 1057px #c50a0a, 1468px 1301px #c50a0a,
    144px 1676px #c50a0a, 21px 1601px #c50a0a, 382px 1362px #c50a0a, 912px 753px #c50a0a,
    1488px 1405px #c50a0a, 802px 156px #c50a0a, 174px 550px #c50a0a, 338px 1366px #c50a0a,
    1197px 774px #c50a0a, 602px 486px #c50a0a, 682px 1877px #c50a0a, 348px 1503px #c50a0a,
    407px 1139px #c50a0a, 950px 1400px #c50a0a, 922px 1139px #c50a0a, 1697px 293px #c50a0a,
    1238px 1281px #c50a0a, 1038px 1197px #c50a0a, 376px 1889px #c50a0a,
    1255px 1680px #c50a0a, 1008px 1316px #c50a0a, 1538px 1447px #c50a0a,
    1186px 874px #c50a0a, 1967px 640px #c50a0a, 1341px 19px #c50a0a, 29px 1732px #c50a0a,
    16px 1650px #c50a0a, 1021px 1075px #c50a0a, 723px 424px #c50a0a, 1175px 41px #c50a0a,
    494px 1957px #c50a0a, 1296px 431px #c50a0a, 175px 1507px #c50a0a, 831px 121px #c50a0a,
    498px 1947px #c50a0a, 617px 880px #c50a0a, 240px 403px #c50a0a;
}


@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}
